.card {
  max-width: 413px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 1.2;
  min-width: 0;
  max-width: 353px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    max-width: 235px;
  }
  .card__title {
    max-width: 235px;
  }
}
