.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  margin: 0;
}

.footer__copyright {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  color: #212121b2;
}
