.modal {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  visibility: hidden;
  background-color: #00000080;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  background-image: url(../images/closeicon.svg);
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.modal__submit-btn {
  background-color: #212121;
  color: #fcf5e5;
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  padding: 16px 8px;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 8px;
  border-radius: 8px;
  border: 1px solid #21212166;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 320px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__container {
    padding: 16px 20px;
  }

  .modal__input {
    box-sizing: border-box;
    height: 48px;
  }

  .modal__close-btn {
    top: 10px;
    right: 10px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal__label {
    margin: 0 0 20px;
  }
}
