.profile {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__edit-btn:focus {
  outline: 2px solid #212121;
  outline-offset: 2px;
}

.profile__edit-btn {
  display: flex;
  gap: 8px;
  margin-top: auto;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  opacity: 0.7;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
  max-width: 420px;
  margin-right: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__add-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  display: flex;
  gap: 8px;
  margin-left: auto;
  background: #212121;
  color: #fcf5e5;
  border: none;
  padding: 14px 20px;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  width: 149px;
  height: 52px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    justify-content: center;
    margin: 0;
  }

  .profile__add-btn {
    margin: 0;
    align-self: center;
    width: 100%;
  }
}
